@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster+Two:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.homepage {
  background: url(/assets/images/header-illsutration-mobile.png);
  background-size: 100%;
  background-position-y: 80px;
  background-repeat: no-repeat;
}

.intro {
  width: 100%;
  display: flex;
}

.nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav-items {
  position: fixed;
  left: -100%;
  top: -45px;
  padding-top: 40px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.9s;
  background: radial-gradient(circle at top right, transparent 4vw, white 30.1vw);
}

.ul-desktop {
  display: none;
}

.nav-items.active {
  left: 0;
}

.li-1 {
  margin: 25px 0;
  list-style-type: none;
}

.nvl {
  gap: 90px;
}

.welcome {
  margin-left: 15px;
  font-size: 1.2em;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

a {
  color: #344563;
  text-decoration: none;
}

div.nav-b {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.hamburger-menu {
  display: block;
  padding-left: 190px;
  gap: 5px;
  padding-top: 30px;
}

.bar {
  display: block;
  width: 20px;
  background-color: #000;
  height: 3px;
  margin: 3px 0;
  padding: 0;
}

.hamburger-menu.active .bar:nth-child(2) {
  display: none;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(3.3px) rotate(45deg);
  background-color: black;
  transition: 1.4s;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-3.3px) rotate(-45deg);
  background-color: black;
  transition: 1.4s;
}

h1 {
  display: flex;
  flex-direction: column;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  line-height: 52px;
  font-weight: 700;
  font-size: 255%;
  text-align: center;
  padding: 8px;
  font-style: normal;
  width: 100%;
}

span {
  color: #36b37f;
}

p {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  padding: 8px;
}

.intro-text {
  padding-top: 40px;
}

.intro-note {
  display: flex;
  line-height: 28px;
  flex-direction: column;
  text-align: center;
}

.soc-media,
.soc-media-b {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  margin-top: 12%;
}

.action {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.button {
  margin-top: 45px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(204, 200, 200);
  background: #fff;
}

.recent-work {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.recent-text {
  display: flex;
  justify-content: center;
  padding: 0 90px;
}

.indicator {
  background: #36b37e;
  color: #36b37e;
  display: flex;
  height: 4px;
  width: 45px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}

/* ------- Card-Container ------- */
.card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  align-items: center;
}

.card-1 {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 474px;
  width: 90%;
  border-radius: 0.5rem;
  border: 1px solid gray;
  margin: 15px 0;
}

.card-1-img {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  height: 252px;
  width: 100%;
  background: #d0d9d4;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 222px;
}

h2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 150%;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #3a4a42;
  margin-top: 10px;
}

.tags {
  padding: 0;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  gap: 1rem;
}

.li {
  background: #d0d9d4;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #3a4a42;
  text-decoration: none;
}

.on,
.css,
.js,
.html {
  padding: 5px;
  border-radius: 0.2em;
  white-space: nowrap;
}

.see-project {
  height: 20%;
  border-radius: 0.5rem;
  background: #36b37f;
  color: #fff;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 85%;
  margin: 10px 0;
  margin-top: 10px;
  white-space: nowrap;
  border: 0;
}

.btn-resume {
  background: #36b37f;
  padding: 12px;
  border-radius: 0.4rem;
  font-size: 17px;
  font-size: 100%;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  border: none;
  letter-spacing: 0.03em;
}

.see-project:hover,
.btn-resume:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.see-project:active,
.btn-resume:active {
  background: #008552;
  border-radius: 4px;
}

.btn {
  width: 100%;
}

.about-me {
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-image: url(./assets/images/frame-left.png);
  background-repeat: no-repeat;
  background-position-y: 260px;
}

.recent-text:hover,
.about-primary-text:hover {
  color: #ff6b00;
  animation-duration: 3s;
}

.about-support-text {
  line-height: 32px;
  text-align: center;
}

.btn-get-resume {
  display: flex;
  flex-direction: column;
  height: 62px;
  align-items: center;
}

.btn-resume:hover {
  background: #36f37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.btn-resume:active {
  background: #008552;
  border-radius: 4px;
}

#popup-window {
  width: 100%;
  height: 100%;
  background: rgba(54, 179, 127, 0.24);
  position: fixed;
  top: 0;
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 90%;
  background: white;
  justify-content: left;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 15px;
}

#close-popup-btn {
  width: 40px;
  align-self: flex-end;
  margin-right: 6px;
  font-size: 6vw;
  color: white;
  background: rgb(212, 208, 208);
  border-radius: 8px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#close-popup-btn:hover {
  background: rgb(164, 175, 59);
  color: red;
}

.pop-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
}

.title1 {
  font-weight: bold;
}

.desc,
.title {
  padding: 0;
  text-align: left;
}

.tag {
  display: flex;
  padding: 0;
  align-content: start;
  justify-content: start;
}

.see-live,
.see-source {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #36b37f;
  padding: 12px;
  border-radius: 7px;
  font-size: 4vw;
  white-space: nowrap;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  border: none;
  gap: 15px;
}

.see-live:hover,
.see-source:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.see-live:active,
.see-source:active {
  background: #008552;
  border-radius: 4px;
}

.live-source {
  display: none;
}

/* *****************About******************* */
.about-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c1c7d0;
  height: 352px;
  width: 90%;
  border-radius: 8px;
}

.ellipse {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 50px;
  height: 67px;
  width: 67px;
  margin-bottom: 45px;
}

.lang-icon {
  align-self: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.langs {
  display: flex;
  padding: 0;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.x {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
  align-self: center;
  color: #36b37e;
}

/* **********Form*********** */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  background-image: url(assets/images/illustration-contact-form.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-y: 730px;
  background-position-x: 317px;
}

.form:hover {
  background: rgb(235, 233, 233);
  transition: all 3s linear;
  border-bottom: 0;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 400px;
  width: 100%;
}

.form-text {
  width: 95%;
}

.first-name,
.last-name {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  width: 90%;
  padding-left: 15px;
  display: none;
}

.full-name,
.email,
.text-area {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  width: 90%;
  padding-left: 15px;
}

.text-area {
  padding-top: 15px;
  height: 114px;
  border: 1px solid #60c095;
}

.err-msg {
  font-family: "Inter", sans-serif !important;
  color: #d30505;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  align-self: start;
  margin-left: 10px;
}

.footer {
  width: 100%;
  height: 189px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.soc-media-b {
  gap: 15px;
}

.emailhere {
  font-weight: 400;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #42526e;
  padding-bottom: 5%;
}

button {
  background: none;
  border: none;
}

/* *****************************Media Queries*************************** */
@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .homepage {
    width: 1920px;
    width: 100%;
    height: 1100px;
    background-image: url(/assets/images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -30px;
  }

  header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav {
    width: 100%;
    height: 42px;
  }

  .desktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ul-desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    margin-left: 0;
    padding: 0;
  }

  .ul-desktop li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1vw;
  }

  a {
    background-color: none;
    text-decoration: none;
  }

  .ul-desktop li a:hover {
    color: #ff6b00;
    transform: scale(01.1);
    font-weight: bold;
    transition: all 0.8s linear;
  }

  .hamburger-menu,
  .welcome,
  .hidden-content,
  .nav-b,
  .nav-items {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .intro-text {
    margin-top: 150px;
    font-weight: 800;
    font-size: 3rem;
    line-height: 60px;
  }

  .tags,
  .langs {
    display: flex;
    flex-wrap: wrap;
    height: 2.5rem;
  }

  .tags {
    height: 5vh;
  }

  .on,
  .css,
  .js,
  .html {
    height: 4vh;
    font-size: 1.1vw;
  }

  div .langs {
    width: 90%;
    margin-bottom: 50px;
  }

  .intro-note,
  .about-support-text {
    font-weight: 400;
    font-size: 100%;
    font-size: 1.25rem;
    line-height: 32px;
  }

  .intro-note:hover,
  .about-support-text:hover {
    color: #ff6b00;
    font-size: 1.3rem;
    transform: scale(1.1);
    transition: all 2.8s;
  }

  .soc-media {
    gap: 1.2rem;
    margin-top: 30px;
  }

  .action {
    margin-top: 30px;
  }

  .recent-text,
  .about-primary-text {
    margin: auto;
  }

  .card-container {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 30px 0;
    padding: 0;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .card-1 {
    display: flex;
    height: 100%;
  }

  .card-1:hover {
    transform: scale(1.05);
    transition: 3.1s ease-out;
  }

  h2 {
    display: flex;
    width: 80%;
    font-size: 1.8vw;
  }

  .about-me {
    align-items: center;
    justify-items: center;
  }

  .about-cards {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 25px 0;
    margin: 50px auto;
    justify-items: center;
    align-items: center;
  }

  .see-project {
    padding: 10px;
    margin-top: 25px;
  }

  .btn-resume:hover {
    background: orange;
  }

  .card-a:hover {
    transform: scale(1.05);
    transition: all 1.5s linear;
  }

  .ellipse:hover {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: 1s;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .form {
    padding-top: 200px;
    margin: 0 auto;
    margin-top: 90px;
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  .form-text {
    width: 35%;
    height: 300px;
    font-size: 30px;
    font-weight: 700;
  }

  .fields {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 300px;
    padding: 0;
    margin-left: 0;
    padding-left: 0;
    left: 0;
    gap: 24px;
  }

  .full-name,
  .email,
  .text-area {
    width: 98%;
  }

  #git {
    align-self: start;
    padding-left: 8px;
  }

  .indicator {
    margin-top: 30px;
    margin-bottom: 1px;
  }

  #popup-window {
    width: 100%;
    height: 100%;
    background: rgba(54, 179, 127, 0.24);
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .popup {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background: #fff;
    justify-content: left;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 15px;
  }

  #close-popup-btn {
    border-radius: 5px;
    width: 30px;
    align-self: flex-end;
    margin-right: 6px;
    font-size: 20px;
    background: #ebecf0;
    color: #67798e;
    padding: 0 10px;
    margin-bottom: 10px;
    padding-right: 15px;
    text-transform: lowercase;
  }

  img.img-x {
    height: 616px;
    background-repeat: no-repeat;
  }

  .pop-buttons {
    display: none;
  }

  .desc {
    padding-bottom: 50px;
    font-size: 1.2vw;
  }

  .see-live,
  .see-source {
    font-size: 1vw;
    border: none;
    height: 35px;
  }

  .title {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .live-source {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .cd-txt {
    display: grid;
  }

  .err-msg {
    font-family: "Inter", sans-serif !important;
    color: #d30505;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    align-self: start;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .nav-b {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: #fff;
  }
}
